/* General Classes */

.anchor{
    color: #2997ff;
    text-decoration: none;
}

.anchor:hover{
    text-decoration: underline;
}

/* Appereance Wise Classes */

.nav-custom {
    background-color: #181818;
    color: #d0d0d1;
    font-size: 0.7rem;
    padding: 0px;
}

.navbar-nav.navbar-center {
    margin: 0 auto;
}

.nav-item {
    padding:0 0.8rem;
}

.bank-offer{
    background-color: #1d1d1f;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
}

.bank-text{
    font-size: 0.93rem;
    width: 60%;
    font-weight: 350;
    margin: 0 auto;
    text-align: center;
}

.iphone14-pro{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 3rem;
}

.iphone-heading{
    font-size:3.5rem;
    font-weight: 600;
}

/* .iphone14-pro-anchor{
    font-size: 1.2rem;
    padding: 1rem 1rem;
} */

.iphone14-pro-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.iphone14{
    background-color: #fbfbfd;
}

.iphone-link{
    font-size: 1.2rem;
    padding: 1rem 1rem;
}

.iphone14-pro-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.iphone-button {
    display: block;
    margin: 2px auto 10px auto;
    padding: 4px 8px;
    border-radius: 80px;
    font-family: Arial;
    color: #86868b;
    font-size: 0.85rem;
    border: solid #86868b 1.5px;
    text-decoration: none;
    background: transparent;
  }
  
  .iphone-button:hover {
    text-decoration: none;
    color: #86868b;
    border: solid #86868b 1.5px;
  }
  
.iphone14{
    background-color: #fbfbfd;
    text-align: center;
    color: black;
    padding: 1rem 0;
}

.iphone14-pro-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.video-container {
    height: 56rem;
    width: auto;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .caption {
  z-index: 1;
  position: relative;
  top: 40rem;
  font-size: 10rem;
  text-align: center;
  color: white;
  padding: 10px;
  padding: 0;
}

.fursat-heading{
    font-size: 12rem;   
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.fursat-subheading{
    font-size: 1rem;   
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-family: 'Poppins', sans-serif;
}



