/* Global Classes and Tags*/
span {
    display: inline-block;
  }
  
.anchor{
    color: #2997ff;
    text-decoration: none;
}

.anchor:hover{
    text-decoration: underline;
}



/* Appereance Wise Custom Classes */

.nav-custom {
    background-color: #181818;
    color: #d0d0d1;
    font-size: 0.7rem;
    padding: 0px;
}

.navbar-nav.navbar-center {
    margin: 0 auto;
}

.nav-item {
    padding:0 0.8rem;
}

.bank-offer{
    background-color: #1d1d1f;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    color: white;
}

.bank-text{
    font-size: 0.93rem;
    width: 60%;
    font-weight: 350;
    margin: 0 auto;
    text-align: center;
}

.iphone14-pro{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 3rem;
}

.iphone-heading{
    font-size:3.5rem;
    font-weight: 600;
}

/* .iphone14-pro-anchor{
    font-size: 1.2rem;
    padding: 1rem 1rem;
} */

.iphone14-pro-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.iphone14{
    background-color: #fbfbfd;
}

.iphone-link{
    font-size: 1.2rem;
    padding: 1rem 1rem;
}

.iphone14-pro-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.iphone-button {
    display: block;
    margin: 2px auto 10px auto;
    padding: 4px 8px;
    border-radius: 80px;
    font-family: Arial;
    color: #86868b;
    font-size: 0.85rem;
    border: solid #86868b 1.5px;
    text-decoration: none;
    background: transparent;
  }
  
  .iphone-button:hover {
    text-decoration: none;
    color: #86868b;
    border: solid #86868b 1.5px;
  }
  
.iphone14{
    background-color: #fbfbfd;
    text-align: center;
    color: black;
    padding: 1rem 0;
}

.iphone14-pro-img{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.video-container {
    height: 56rem;
    width: auto;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -2;
}

.video-container .caption {
  z-index: -1;
  position: relative;
  top: 35rem;
  font-size: 10rem;
  text-align: center;
  color: white;
}

.fursat-heading{
    font-size: 12rem;   
    line-height: 1;
    font-family: 'Tenali Ramakrishna', sans-serif;
}

.flipH {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }

.fursat-subheading{
    font-size: 1.5rem;   
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fursat-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #000000;
    font-size: 15px;
    background: #ffffff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    border: solid 0px;
    position: relative;
    bottom: 12rem;
  }
  
  .fursat-btn:hover {
    background: #cccccc;
    text-decoration: none;
  }

.random{
    text-decoration: none;
}

.random:hover{
    text-decoration: underline;
}

.black-product{
    background-color: black;
    color: white;
    text-align: center;
    border-top: solid 0.8rem;
    border-left: solid 0.8rem;
}

.white-product{
    background-color: #fbfbfb;
    text-align: center;
    color: black;
    border-top: solid white 0.8rem;
    border-left: solid white 0.8rem;
}

.macbook-pro-img{
    width: 50%;
    display: block;
    margin: 1rem auto 10rem auto;
}

.apple-watch-pro-img{
    width: 90%;
    display: block;
    margin: 8rem auto 0 auto;
}

.product-heading{
    padding-top: 2rem;
    font-size: 2.3rem;
    font-weight: 500;
}

.product-subheading{
    font-size: 1.2rem;
    font-weight: 400;
}

.homepod-img{
    width: 90%;
    display: block;
    margin: 1rem auto 0 auto;
}

.ipad-pro-img{
    width: 90%;
    display: block;
    margin: 1rem auto 0rem auto;
}

.apple-watch-img{
    width: 50%;
    display: block;
    margin: 5rem auto 0 auto;
}

.ipad-img{
    width: 35%;
    display: block;
    margin: 1rem auto 0rem auto;
}

#carouselAppleTV{
    margin: -2rem 15rem -5rem 15rem;
}


.indicator-posiition{
        position: relative;
        top: 48.2rem;
}

.cara-btn{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;    
}

.stream-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #000000;
    font-size: 15px;
    background: #ffffff;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    border: solid 0px;
    position: relative;
    bottom: 6.5rem;
    left: 4rem;
  }
  
  .stream-btn:hover {
    background: #cccccc;
    text-decoration: none;
  }

.apple-tv-btn{
    position: relative;
    left: 72rem;
    bottom: 10rem;
    color: white;
    font-size: 3rem;
}

#Policy-and-Links{
    background-color: #f5f5f7;
    color: #6e6e73;
    padding: 1rem 30rem;
    font-size: 0.7rem;
}

footer{
    background-color: #f5f5f7;
    color: #6e6e73;
    padding: 1rem 30rem;
    font-size: 0.7rem;
}

.footer-txt{
    display: inline;
}
